// Specific CSS for your home-page
.search {
z-index: 2;
}

.carousel{
  height: 100vh;
  top: 0;
  background-position: center;
  overflow:hidden;
  background-size: cover;

}

// .btn-primary{
// margin-left: 60px;
// }

.btn-block{
  margin-top: 30px;
  background-color: blue;
}






