// Specific CSS for your home-page
@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';


.search {
z-index: 2;
}


.btn-block{
  margin-top: 30px;
  background-color: blue;
}

.company-name{
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.carousel-caption{
  padding: 600px

}

.h1{
    font-size: 400px;
}

  body{
    font-family: 'Magra', sans-serif;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Magra', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #141414;
    margin-bottom: 35px;
    margin-top: 0;
  }
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 21px;
  }
  p{
    font-size: 16px;
    font-style: italic;
    color: #818181;
  }
  a{
    transition: all 0.3s ease-in-out;
  }
  section{
    text-align: center;
  }
  .blockquote p{
    font-size: 32px;
    line-height: 45px;
    padding-left: 30px;
    border-left: 3px solid #424242;
    color: #424242;
  }

  .title{
    position: relative;
    margin-bottom: 100px;
  }
  .title:after{
    content: '';
    height: 5px;
    width: 40px;
    background-color: #62aa94;
    position: absolute;
    top: 81px;
    left: calc(50% - 20px);
  }

/*Bootstrap*/

.form-control{
  border-radius: 0;
  font-size: 18px;
  font-style: italic;
  background-color: transparent;
  color: #424242;
  border-color: #51c2b9;
}



.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.bg-img div{
  z-index: 1;
  position: relative;
}
.bg-img:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.section{
  padding: 100px 0;
}

.graphic-design{
  background:transparent url(../images/graphic-design.png) no-repeat;
    width: 120px;
    height: 120px;
  display:block;
}
.webdevelopment{
  background:transparent url(../images/webdevelopment.png) no-repeat;
    width: 120px;
    height: 120px;
  display:block;
}
.community{
  image: url(../images/CTlogo) no-repeat;
    width: 120px;
    height: 120px;
  display:block;
}
.play-icon{
  background:transparent url(../images/video-play-icon.png) no-repeat;
    width: 70px;
    height: 69px;
  display:block;
}

/*Button*/
.home-btn{
  border-color: #51c2b9;
  font-style: italic;
  color: #51c2b9;
  border-radius: 0;
  letter-spacing: 3px;
  padding: 15px 80px;
  margin-bottom: 30px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.home-btn:hover{
  background-color: #51c2b9;
  color: #fff;
}

.header{
  background-image: url('https://images.unsplash.com/photo-1488401318902-f7feae66db20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=779&q=80');
  height: 100vh;
  position: relative;
  min-height: 659px;
  object-fit: cover;
}

.intro-box{
  height: 100vh;
  display: table;
  text-align: center;
  width: 100%;
}

.intro{
  display: table-cell;
  vertical-align: middle;
}

.header h1{
  margin: 0;
  color: #03CDAE;
}

.header h1, .header p{
  color: #fff;
  letter-spacing: 2px;
}
.header p{
  font-size: 32px;
  padding-top: 0;
  padding-bottom: 40px;
}
.header .home-btn{
  border-color: #fff;
  color: #fff;
}
.header .home-btn:hover{
  background-color: #fff;
  color: #424242;
}

.about{
  background-color: #f8f8f8;
}
.about img{
  margin: 30px auto;
  display: block;
}
.about span{
  font-family: 'Raleway';
  font-weight: 600;
}

.expert{
  background-color: #f8f8f8;
}
.expert p{
  line-height: 200%;
}
.expert .bg-img{
  background-image: url('https://images.unsplash.com/photo-1488401318902-f7feae66db20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=779&q=80');
  background-position-x: 85%;
  height: 100%;
}

.expert .bg-img:after{
  display: none;
}

.expert .section{
  padding-left: 30px;
  padding-right: 30px;
}


.home-quote{
  background-image: url(../images/3.jpg);
  /*padding: 120px 0;*/
  color: #fff;
  font-style: italic;
}
.home-quote p{
  font-size: 32px;
  color: #fff;
}
.home-quote .quote{
  margin-bottom: 40px;
}
.home-quote .author{
  font-size: 21px;
  margin-bottom: 40px;
}

.subscribe{
  background-image: url(../images/11.jpg);
}
.subscribe .home-btn{
  margin-bottom: 0;
  color: #424242;
  font-weight: 700;
  border-color: #fff;
  background-color: #fff;
}
.subscribe .home-btn:hover{
  background-color: transparent;
  color: #fff;
}
.subscribe p{
  color: #fff;
  font-size: 32px;
  margin-bottom: 35px;
}
.subscribe .form-control{
    width: 320px;
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;
}

.contact .home-card{
  background-color: #f8f8f8;
  padding: 35px 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 45px;
}


.contact .home-card .home-card-header{
  margin-bottom: 15px;
  font-size: 21px;
  color: #51c2b9;
}
.contact .home-card .home-card-content h3{
  letter-spacing: 2px;
  margin-bottom: 45px;
}
.contact .home-card .home-card-content h3:after{
  top: 40px;
}
.contact .home-card .home-card-content p{
  font-size: 18px;
}
.footer{
  background-color: #202020;
  text-align: center;
  padding: 60px 0;
}
.footer span{
  color: #51c2b9;
}
.footer p{
  font-size: 21px;
  color: #fff;
  margin-bottom: 0;
}
.footer a{
  color: #fff;
}


@media (max-width: 767px){
  .home-card{
    margin-bottom: 60px;
  }
}
