// Specific CSS for your home-page
.search {
z-index: 2;
}

.btn-outline-warning{

}

.carousel-item {
  // height: 100vh;
  // background-position: center;
  // overflow:hidden;
  // background-size: cover;
  img {
    height: 100vh;
  }
}

.btn-block{
  margin-top: 30px;
  background-color: blue;
}






