<div class="container">
  <div class="confirmation-card">

  <h2>You're all set!</h1>
  <h3>You've booked a <%= @booking.bicycle.brand %> <%= @booking.bicycle.category %> for
    <%= (@booking.end_date - @booking.begin_date).to_i %> days</h3>
  <p>You have confirmed reservation with </p>

  </div>

  </div>
</div>


