<div class="card-category rounded">
  <%= link_to bicycle_path(bicycle) do %>
    <img class ="card-img-top-popup" src="<%= bicycle.photo %>">
    <% end %>
    <div class="card-body-popup">
      <h5 class="card-title"><%= "#{bicycle.brand}" %>
        <small> - <%= "#{bicycle.category}" %> Bike</small></%>
      </h5>
    </div>
  </div>
</div>
