<div class="main">
  <header class="bg-img header">
    <div class="container">
      <div class="row">
        <div class="intro-box">
          <div class="intro">
            <h1>Cycle Thru</h1>
            <p>Let's ride</p>
            <div class="search-form">
                <div class="p-3 rounded">
                  <%= form_tag bicycles_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Enter a location..."
                    %>
                  <%#= submit_tag("Search", class: 'btn btn-primary') %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="purpose section">
    <div class="container">
      <h2 class="title">What is cycle thru rentals?</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="home-card">
            <div class="home-card-header">
              <div class="card-icon">
                <span class="rent-bike" aria-hidden="true">
                  <i class="fas fa-bicycle"></i>
                </span>
              </div>
            </div>
            <div class="home-card-content">
              <h3>Rent a bike</h3>
              <p>
                 Search the globe for two wheels to take you from A to B, and back again. Thousands of our users loan out their bikes so you can cycle thru.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-card">
            <div class="home-card-header">
              <div class="card-icon">
                  <span class="loan-bike" aria-hidden="true">
                    <i class="fas fa-user-friends"></i>
                    </span>
              </div>
            </div>
            <div class="home-card-content">
              <h3>Loan your bike</h3>
              <p>
                  What is life without sharing, right? Loan your bike to a fellow rider so they can roam the area just like you. Or maybe you just need someone to babysit it while you are away...it'll be in safe hands.
              </p>
            </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="home-card">
            <div class="home-card-header">
              <div class="card-icon">
                <span class="community" aria-hidden="true">
                  <i class="fas fa-globe"></i>
                </span>
              </div>
            </div>
            <div class="home-card-content">
              <h3>Join a community</h3>
              <p>
                  Us cyclists are a social bunch. Meet others by loaning and renting bikes and join the growing community of bike enthusiasts!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="divider div-transparent"></div>
  <section id="contact" class="contact section">
    <div class="container">
      <h2 class="title">Get in touch</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="home-card">
            <div class="home-card-header">
              <span class="fa fa-map" aria-hidden="true"></span>
            </div>
            <div class="home-card-content">
                <h3>Address</h3>
                <p>
                  Frii Hotel, Canggu, Bali
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-card">
            <div class="home-card-header">
              <span class="fa fa-phone" aria-hidden="true"></span>
            </div>
            <div class="home-card-content">
              <h3>Phone</h3>
              <p>
                +62 813 211 3747
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home-card">
              <div class="home-card-header">
                <span class="fa fa-paper-plane" aria-hidden="true"></span>
              </div>
              <div class="home-card-content">
                <h3>Email</h3>
                <p>
                  info@cyclethru.com
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


