.signup-form-main {
  background-image: url('https://images.unsplash.com/photo-1465820710433-e8ecd132988c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=789&q=80');
  height: 100vh;
  position: relative;
  min-height: 659px;
  object-fit: cover;
   background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.login-form-main {
  background-image: url('https://images.unsplash.com/photo-1497514789819-4190972b5575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  height: 100vh;
  position: relative;
  min-height: 659px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
