.search-form{
  position: absolute;
  z-index: 2;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.confirmation-card {
  background-color: white;
}

.btn-outline-secondary{
color: #59289A;
}
