.search-form{
  // position: absolute;
  width: 500px;
  margin-top: 0px;
  color: white;
  margin: 0 auto;
  display: inline-block;
}

.confirmation-card {
  background-color: white;
}

.btn-outline-secondary{
color: #59289A;
}

