<div class="container bg-white my-3 p-3">
  <h1>Reviews</h1>
  <% @reviews.each do |review| %>
  <div>
    <% review.rating.to_i.times do %>
      ⭐
    <% end %>

    --
    <%= review.content %>
  </div>
  <% end %>
</div>
